#body {
    background-color: #E5E5E5;

    font-family: 'Roboto'; 'sans-serif'; !important;

    color: #000000;
}


#links-top :hover{
    color: #2196f3
    }
#links-top :focus{
    color: orange;
}

#main {}

#first-section{}

#second {}

#third {}

#footer :hover{
    color: #2196f3;
}

.title-1 {
    text-decoration: none;
    
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
       
    color: #2196F3;
}


