
.header {
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0px;
    top: 0px;

    background-color: #FFFFFF;
}

.title-1 {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    text-align: right;
    letter-spacing: 0.03em;

    color: #2196f3;
}

#links-top {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link1 {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
}

.link2 {
    position: absolute;
    width: 65px;
    height: 16px;
    left: 552px;
    top: 32px;
}

.link3 {
    position: absolute;
    width: 67px;
    height: 16px;
    left: 667px;
    top: 32px;
}

.link4 {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
}

.link5 {
    position: absolute;
    width: 118px;
    height: 16px;
    left: 1263px;
    top: 32px;
}

#main {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: -4px;
    top: 80px;
    
    background: #2F303A;
}

#main-title {
    position: absolute;
width: 696px;
height: 120px;
left: 448px;
top: 280px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

#main-button {
    
    
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;

    position: absolute;
    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

#first {
    position: absolute;
    width: 1170px;
    height: 122px;
    left: 215px;
    top: 775px;
}

#second {
    position: absolute;
    width: 1173.16px;
    height: 425px;
    left: 215px;
    top: 991px;


}

#third {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1510px;

    background: #F5F4FA;
}

#footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2158px;

    background: #2F303A;
}